body {
    background: url('/assets/img/main-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.first {
    grid-area: 2 / 2 / 4 / 4;
}

.second {
    grid-area: 2 / 5 / 4 / 7;
}

.third {
    grid-area: 5 / 2 / 7 / 4;
}

.fourth {
    grid-area: 5 / 5 / 7 / 7;
}

.title {
    color: black;
    text-align: center;
    font-size: 60px;
    background: linear-gradient(0.25turn, rgb(99, 206, 85, 0.7), rgb(245, 226, 226, 0.7), rgb(219, 66, 66, 0.7));
}

.container {
    color: white;
    text-align: center;
}
 .row{
     text-align: center;
     margin-left: 300px;
 }

.card{
    color:black;
}
.placement{
    margin-left: 200px;
}