body {
    background: url('/assets/img/main-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;

}

.title {
    color: black;
    text-align: center;
    font-size: 60px;
    background: linear-gradient(0.25turn, rgb(99, 206, 85, 0.7), rgb(245, 226, 226, 0.7), rgb(219, 66, 66, 0.7));
}

.container {
    color: white;
    text-align: center;
}

.row {
    text-align: center;
}

.jumbotron-fluid {
    border-radius: 20px !important;
}

footer {
    text-align: center;
    color: #fff;
    background-color: rgb(52, 58, 64);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 1px;
}

.right {
    float: right;
}

.left {
    text-align: left !important;
}

.marg {
    margin-top: -15px
}

.footer-font {
    color: inherit !important;
    text-decoration: none !important;
}

.footer-font:hover {
    color: #E9CD9A !important;
}

.list-group:hover {
    color: #E9CD9A !important;
}

.espace {
    margin-top: 20px;
}

.color-social {
    color: white !important;
}

.nav-link {
    color: gray
}

.mr-bot{
    margin-bottom: 60px;
}

/*Responsive Smartphone*/

@media only screen and (max-width: 760px) {
    .container {
        width: 100%
    }

    footer {
        position: relative;
        padding-bottom: 1px;
    }

}

@media only screen and (min-width: 760px) and (max-width: 1280px) {
    .container {
        width: 100%
    }


    footer {
        position: absolute;
        padding-bottom: 1px;
    }

}